/* Default styles annulation */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:visited {
  color: black;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Styles variables */
/* General styles */
h1, h2, h3, h4, h5, h6, p, input, button, textarea, ul, a {
  font-family: "Montserrat", sans-serif;
}

input, select {
  background: rgba(52, 12, 134, 0.1);
  border-radius: 60px;
  color: #504C58, sans-serif;
  padding: 0 30px;
}

button {
  background: linear-gradient(90.77deg, #3E5ABE -5.89%, #6840BF 100%), #8E64E6;
  box-shadow: 0px 5px 0px #4C2997;
  border-radius: 60px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}

/* Main styles */
button {
  width: 345px;
  height: 60px;
  font-size: 18px;
}

.checkbox-container {
  display: flex;
}
.checkbox-container #checkbox {
  width: 20px;
  height: 20px;
  background-image: url("../images/checkbox.svg");
  margin-right: 15px;
}
.checkbox-container .agree {
  font-size: 12px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  margin-bottom: 0;
}

.first-screen {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(24.01deg, #FFFFFF 21.38%, #EFFAFF 88.06%, #B3DBEC 133.53%);
  justify-content: center;
  padding: 20px 15px 0 15px;
}
.first-screen .nav-bar {
  display: flex;
  width: 100%;
  height: 77px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.first-screen .nav-bar #burger-button {
  margin-left: 40px;
}
.first-screen .nav-bar .burger-menu {
  display: none;
}
.first-screen .nav-bar .central-container {
  display: none;
}
.first-screen h1 {
  display: none;
}
.first-screen h2:first-of-type {
  font-weight: 700;
  font-size: 28px;
  line-height: 131%;
  text-align: center;
  width: 90%;
  margin-bottom: 15px;
}
.first-screen h2:last-of-type {
  font-family: "Press Start 2P", sans-serif;
  font-size: 18px;
  color: #340C86;
  margin-bottom: 30px;
}
.first-screen .container {
  padding-bottom: 40px;
}
.first-screen .container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.first-screen .container div svg {
  margin-bottom: 10px;
}
.first-screen .container div p {
  font-size: 16px;
  font-weight: 600;
  line-height: 139%;
  text-align: center;
}
.first-screen .container div .first {
  width: 150px;
}
.first-screen .container div .second {
  width: 200px;
}
.first-screen .container div .third {
  width: 300px;
}
.first-screen .container div .fourth {
  width: 200px;
}
.first-screen .container div:last-of-type {
  margin-bottom: 0;
}
.first-screen form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 15px 41px 15px;
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(16, 7, 36, 0.3);
}
.first-screen form .form-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 23px;
  line-height: 135%;
  text-align: center;
  margin-bottom: 20px;
  color: #101218;
}
.first-screen form p {
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  margin-bottom: 30px;
}
.first-screen form input, .first-screen form select {
  width: 345px;
  height: 60px;
  margin-bottom: 12px;
  font-size: 14px;
}
.first-screen form select {
  margin-bottom: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 310px 50%;
}
.first-screen form button {
  margin-bottom: 26px;
}
.first-screen form .player-container {
  display: none;
}
.first-screen .background-image {
  display: none;
}

.minecraft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px 0 15px;
}
.minecraft h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 25px;
}
.minecraft .card-container {
  position: relative;
  border-radius: 20px;
  background: linear-gradient(89.5deg, rgba(2, 132, 38, 0.9) -6.15%, rgba(26, 48, 38, 0.9) 75.04%, rgba(25, 44, 38, 0.9) 130.21%), linear-gradient(85.81deg, rgba(38, 37, 53, 0.252) 36.59%, rgba(83, 71, 65, 0.3) 90.24%);
  padding: 40px 25px;
  color: white;
  margin-bottom: 38px;
}
.minecraft .card-container img {
  position: absolute;
}
.minecraft .card-container .cube1 {
  width: 65px;
  height: 65px;
  right: 29px;
  top: 22px;
  filter: blur(2px);
  transform: rotate(25deg);
}
.minecraft .card-container span {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 12px;
}
.minecraft .card-container .styled {
  font-family: "Press Start 2P", sans-serif;
}
.minecraft .card-container h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 10px;
}
.minecraft .card-container p {
  font-weight: 500;
  font-size: 15px;
  line-height: 200%;
}
.minecraft .card-container p:first-of-type {
  margin-bottom: 20px;
}
.minecraft .card-container p:last-of-type {
  display: inline;
  background: #123CAE;
  border-radius: 20px;
  padding: 4px 7px 4px 7px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.minecraft .card-container .cube2 {
  width: 80px;
  height: 80px;
  top: 92%;
  right: 7.5rem;
  filter: blur(2px);
}
.minecraft .card-container .cube3 {
  display: none;
}
.minecraft .card-container .cube4 {
  width: 80px;
  height: 80px;
  filter: blur(2px);
  right: 9%;
  top: 91%;
}
.minecraft .card-container:last-of-type {
  margin-bottom: 0;
}
.minecraft .non-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 43px;
}
.minecraft .non-card-container h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  margin: 0 15px 10px 15px;
}
.minecraft .non-card-container h3 span {
  color: #123CAE;
  margin-right: 8rem;
}
.minecraft .non-card-container p {
  font-size: 15px;
  line-height: 200%;
  margin: 0 15px 30px 15px;
}
.minecraft .non-card-container .character {
  width: 345px;
  height: 356px;
  border-radius: 20px;
  background: linear-gradient(84deg, rgba(38, 37, 53, 0.9) 36.56%, rgba(83, 71, 65, 0.9) 106.76%), url("../images/background.webp");
  background-repeat: no-repeat;
}
.minecraft .non-card-container .character img {
  width: 306px;
  height: 353px;
  position: relative;
  top: 16px;
  left: 23px;
}

.child-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 35px 79px 35px;
}
.child-description h2 {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
}
.child-description .card-container {
  width: 305px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 165%;
  color: white;
  text-align: center;
}
.child-description .card-container img {
  width: 305px;
  height: 317px;
}
.child-description .card-container p {
  padding: 31px 16px 38px 16px;
}
.child-description .first {
  background: #6243BA;
}
.child-description .second {
  background: #C7910F;
}
.child-description .third {
  background: #A8771F;
}
.child-description .fourth {
  background: #346EC8;
}
.child-description .first, .child-description .second, .child-description .third {
  margin-bottom: 20px;
}

.inc-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), #D9D9D9;
  position: relative;
  padding: 90px 31.5px;
}
.inc-courses img {
  position: absolute;
}
.inc-courses .big-cube1 {
  top: -65px;
  left: 5%;
}
.inc-courses h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: white;
  margin-bottom: 46px;
}
.inc-courses .card-container {
  position: relative;
  width: 312px;
  height: 260px;
  background: white;
  box-shadow: -10px 10px 70px #263631;
  border-radius: 20px;
  padding: 36px 34px 28px 34px;
  margin-bottom: 20px;
  z-index: 5;
}
.inc-courses .card-container svg {
  margin-bottom: 15px;
}
.inc-courses .card-container p {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
}
.inc-courses .big-cube2 {
  right: 5%;
  bottom: -60px;
  width: 120px;
  height: 120px;
  transform: rotate(30deg);
}
.inc-courses .background-image {
  position: absolute;
  width: 100%;
  height: 225px;
  bottom: 0;
  background: linear-gradient(-93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), url("../images/background2.webp");
  background-blend-mode: multiply;
  z-index: 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 15px 60px 15px;
}
.description h2 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
.description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  margin-bottom: 20px;
}
.description p span {
  font-weight: 600;
}
.description .bold {
  font-weight: 600;
  margin-bottom: 30px;
}
.description button {
  margin-bottom: 40px;
}
.description img {
  width: 345px;
  height: 351px;
}

.lesson-staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 17.5px 70px 17.5px;
  background: linear-gradient(93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), #D9D9D9;
  position: relative;
}
.lesson-staff .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lesson-staff h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.lesson-staff .card-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 340px;
  height: 502px;
  border-radius: 20px;
  background: white;
  box-shadow: -10px 30px 70px #263631;
  margin-bottom: 20px;
  z-index: 5;
}
.lesson-staff .card-container img {
  border-radius: 20px 20px 0 0;
}
.lesson-staff .card-container .content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.lesson-staff .card-container .content h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin: 35px 0 10px 0;
}
.lesson-staff .card-container .content .big {
  margin-top: 25px;
}
.lesson-staff .card-container .content ul {
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
}
.lesson-staff .card-container .content p {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  margin: 13px 18.5px 0 18.5px;
  color: #6044BE;
}
.lesson-staff .background-image {
  position: absolute;
  width: 100%;
  height: 225px;
  bottom: 0;
  right: 0;
  background: linear-gradient(-93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), url(../images/background2.webp);
  background-blend-mode: multiply;
  z-index: 0;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px 60px 15px;
}
.payment h2 {
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 10px;
}
.payment h3 {
  width: 100%;
  font-weight: 600;
}
.payment .styled {
  color: rgb(69, 119, 252);
  margin-bottom: 20px;
}
.payment p, .payment h3 {
  font-size: 15px;
  line-height: 200%;
}
.payment p {
  margin-bottom: 30px;
}
.payment button {
  margin-bottom: 40px;
}
.payment img {
  width: 345px;
  height: 348.83px;
}

.valuable-skills {
  padding: 50px 15px 150px 15px;
  background: linear-gradient(24.01deg, #FFFFFF 21.38%, #EFFAFF 88.06%, #B3DBEC 133.53%);
}
.valuable-skills h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}
.valuable-skills h2 span {
  color: #4577FC;
}
.valuable-skills p {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 30px;
  text-align: center;
}
.valuable-skills .card-container {
  background: #FFFFFF;
  box-shadow: -10px 30px 70px #E1EAEE;
  border-radius: 20px;
  padding: 35px 25px 40px 30px;
  margin-bottom: 15px;
}
.valuable-skills .card-container img {
  margin-bottom: 15px;
}
.valuable-skills .card-container h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}
.valuable-skills .card-container p {
  font-size: 15px;
  line-height: 180%;
  text-align: left;
}

.final {
  background: linear-gradient(-90.84deg, rgba(2, 132, 38, 0.9) -5.82%, rgba(26, 48, 38, 0.9) 61.56%, rgba(25, 44, 38, 0.9) 107.34%), url("../images/background3.webp");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding: 60px 15px 70px 15px;
  color: white;
  text-align: center;
  position: relative;
}
.final h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 26px;
}
.final p {
  font-weight: 500;
  font-size: 15px;
  line-height: 200%;
  margin-bottom: 30px;
}
.final p:nth-of-type(2) {
  margin-bottom: 20px;
}
.final .styled {
  display: inline;
  background: #123CAE;
  border-radius: 20px;
  padding: 4px 7px 4px 7px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.final form {
  position: relative;
  background: #FAFAFA;
  border: 2px solid #643CBC;
  box-shadow: 0px 4px 4px rgba(16, 7, 36, 0.3);
  border-radius: 20px;
  padding: 50px 13px 40px 13px;
  color: black;
  margin-top: 51px;
  z-index: 5;
}
.final form .h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  margin-bottom: 15px;
}
.final form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  margin-bottom: 30px;
}
.final form input {
  width: 319px;
  height: 60px;
  margin-bottom: 12px;
}
.final form select {
  width: 319px;
  height: 60px;
  margin-bottom: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 285px 55%;
}
.final form button {
  width: 319px;
  margin-bottom: 32px;
  background: linear-gradient(90.77deg, #3E5ABE -5.89%, #6840BF 100%), #8E64E6;
  box-shadow: 0px 5px 0px #4C2997;
}
.final form #checkbox {
  box-sizing: content-box;
}
.final form .agree {
  width: 275px;
}
.final .background-image {
  position: absolute;
  width: 100%;
  height: 225px;
  left: 0;
  bottom: 0;
  background: linear-gradient(-93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), url("../images/background4.webp");
  background-blend-mode: multiply;
  z-index: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 43px 0;
}
footer p, footer a {
  font-weight: 500;
  font-size: 15px;
}
footer a {
  margin: 23px 0 23px 0;
}
footer div {
  display: flex;
}
footer div svg {
  margin-right: 10px;
}
footer div p, footer div a {
  font-size: 14px;
}

@media all and (min-width: 480px) {
  .first-screen {
    position: relative;
    justify-content: flex-start;
  }
  .first-screen .nav-bar {
    z-index: 5;
  }
  .first-screen h2:first-of-type {
    font-size: 30px;
    text-align: left;
    z-index: 5;
  }
  .first-screen h2:last-of-type {
    font-size: 20;
    z-index: 5;
    margin-bottom: 35px;
  }
  .first-screen .container {
    z-index: 5;
  }
  .first-screen .container .subcontainer {
    flex-direction: row;
    margin-bottom: 20px;
  }
  .first-screen .container .subcontainer p {
    width: auto;
  }
  .first-screen .container .subcontainer svg {
    margin: 0 21px 0 0;
  }
  .first-screen form {
    box-shadow: none;
    border: 2px solid #643CBC;
    border-radius: 20px;
    padding: 52px 43px 63px 43px;
    margin-bottom: 40px;
    z-index: 5;
  }
  .first-screen .background-image {
    display: flex;
    position: absolute;
    width: 100%;
    height: 571px;
    background: url("../images/firstscreen-background.svg");
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }
  .minecraft {
    padding: 70px 15px 0 15px;
  }
  .minecraft h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .minecraft .card-container {
    padding: 50px 40px 60px 40px;
    margin-bottom: 78px;
  }
  .minecraft .card-container .cube1 {
    top: 3%;
    right: 4%;
  }
  .minecraft .card-container .styled {
    display: flex;
    margin-bottom: 12px;
  }
  .minecraft .card-container h3 {
    margin-bottom: 30px;
  }
  .minecraft .card-container .cube2 {
    bottom: 0;
    left: 25%;
  }
  .minecraft .card-container .cube3 {
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -9%;
    right: 5%;
    transform: rotate(30deg);
  }
  .minecraft .card-container .cube4 {
    left: 23%;
  }
  .minecraft .non-card-container {
    margin-bottom: 74px;
  }
  .minecraft .non-card-container h3, .minecraft .non-card-container p {
    margin: 0 45px 30px 45px;
  }
  .minecraft .non-card-container h3 {
    max-width: 350px;
  }
  .minecraft .non-card-container .character {
    width: 378px;
    height: 390px;
    background: url("../images/background480.webp");
  }
  .minecraft .non-card-container .character img {
    width: 335px;
    height: 387px;
  }
  .child-description {
    width: 480px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    padding: 72px 15px 129px 15px;
    margin: 0 auto;
  }
  .child-description h2 {
    font-size: 24px;
    margin: 0 auto 25px auto;
  }
  .child-description .card-container {
    width: 218px;
    height: 347px;
    margin-bottom: 15px;
  }
  .child-description .card-container img {
    width: 218px;
    height: 238px;
  }
  .child-description .card-container p {
    font-size: 14px;
    line-height: 165%;
    padding: 0;
    margin: 20px auto 0 auto;
  }
  .child-description .card-container:nth-child(4), .child-description .card-container:nth-child(5) {
    margin-bottom: 0;
  }
  .inc-courses h2 {
    font-size: 24px;
    max-width: 320px;
  }
  .description {
    padding: 73px 15px 80px 15px;
  }
  .description h2 {
    font-size: 24px;
  }
  .description button {
    margin-bottom: 50px;
  }
  .description img {
    width: 450px;
    height: 458px;
  }
  .lesson-staff {
    padding: 90px 51px 90px 51px;
  }
  .lesson-staff h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .payment {
    padding: 50px 15px 60px 15px;
  }
  .payment h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .payment img {
    display: flex;
    width: 450px;
    height: 455px;
  }
  .valuable-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px 60px 15px;
  }
  .valuable-skills h2 {
    font-size: 24px;
  }
  .valuable-skills p {
    margin-bottom: 48px;
  }
  .valuable-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 580px;
  }
  .valuable-skills .container .card-container {
    width: 350px;
    height: 349px;
  }
  .final {
    padding: 60px 15px 100px 15px;
  }
  .final h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .final form {
    padding: 52px 48px 63px 48px;
  }
  .final form h3 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .final form .checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .final form .checkbox-container .agree {
    width: auto;
  }
}
@media (min-width: 768px) {
  .first-screen {
    padding: 24px 24px 0 24px;
    justify-content: center;
  }
  .first-screen .nav-bar #burger-button {
    display: none;
  }
  .first-screen .nav-bar .central-container {
    width: 410px;
    display: flex;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #14161B;
    justify-content: space-between;
  }
  .first-screen .nav-bar .central-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .first-screen .nav-bar .central-container .phone {
    width: 195px;
  }
  .first-screen .nav-bar .central-container .email {
    width: 155px;
  }
  .first-screen h2:first-of-type {
    max-width: 549px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  .first-screen h2:nth-last-of-type(2) {
    font-size: 30px;
  }
  .first-screen .container {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    width: 600px;
    margin-left: 50px;
    padding-bottom: 30px;
  }
  .first-screen .container .subcontainer {
    display: flex;
    flex: 50%;
    align-items: flex-start;
  }
  .first-screen .container .subcontainer p {
    text-align: left;
    font-size: 18px;
  }
  .first-screen .container .subcontainer .first {
    width: 155px;
  }
  .first-screen .container .subcontainer .second {
    width: 200px;
  }
  .first-screen .container .subcontainer .third {
    width: 185px;
  }
  .first-screen .container .subcontainer .fourth {
    width: 210px;
  }
  .first-screen form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 45px;
    width: 660px;
  }
  .first-screen form .form-title {
    margin-bottom: 15px;
  }
  .first-screen form p {
    width: 450px;
    margin: 0 auto 35px auto;
  }
  .first-screen form input, .first-screen form select, .first-screen form button {
    width: 280px;
  }
  .first-screen form select {
    margin-bottom: 28px;
    background-position: 250px 50%;
  }
  .first-screen form input:first-of-type {
    margin-bottom: 19px;
  }
  .first-screen form input:nth-of-type(2) {
    margin-bottom: 15px;
  }
  .first-screen form .checkbox-container {
    margin: 0 auto;
  }
  .first-screen form .checkbox-container p {
    width: 317px;
  }
  .first-screen .background-image {
    background-position: left;
  }
  .minecraft {
    padding: 70px 24px 90px 24px;
  }
  .minecraft .card-container:first-of-type {
    padding: 119px 108px 113px 91px;
  }
  .minecraft .card-container {
    width: 719px;
    height: 600px;
    padding: 77px 109px 75px 91px;
  }
  .minecraft .card-container .styled {
    font-size: 30px;
    line-height: 160%;
    margin: 0;
  }
  .minecraft .card-container h3 {
    font-size: 28px;
    line-height: 160%;
    margin-bottom: 25px;
  }
  .minecraft .card-container p {
    font-size: 18px;
    line-height: 200%;
  }
  .minecraft .card-container .cube1 {
    filter: blur(0);
    width: 75px;
    height: 75px;
    top: 85px;
    right: 80px;
  }
  .minecraft .card-container .cube2 {
    filter: blur(0);
    width: 100px;
    height: 100px;
    left: 100px;
    top: 550px;
  }
  .minecraft .card-container .cube3 {
    width: 114px;
    height: 114px;
    filter: blur(0);
    transform: rotate(360deg);
    top: -50px;
  }
  .minecraft .card-container .cube4 {
    width: 89px;
    height: 89px;
    filter: blur(0);
    transform: rotate(25deg);
    left: 375px;
    top: 545px;
  }
  .minecraft .non-card-container {
    width: 720px;
    flex-direction: row-reverse;
    margin-bottom: 138px;
  }
  .minecraft .non-card-container .character {
    width: 326px;
    height: 390px;
  }
  .minecraft .non-card-container .character img {
    left: 0px;
  }
  .child-description {
    width: 635px;
    margin: 0 auto;
    padding: 72px 0 110px 0;
  }
  .child-description h2 {
    font-size: 30px;
    margin-bottom: 60px;
  }
  .child-description .card-container {
    width: 305px;
    height: 438px;
  }
  .child-description .card-container img {
    width: 305px;
    height: 317px;
  }
  .child-description .card-container p {
    font-size: 16px;
    line-height: 165%;
    margin: 31px 16px 0 16px;
  }
  .child-description .card-container:last-of-type p {
    margin: 31px 40px 0 40px;
  }
  .child-description .card-container:first-of-type, .child-description .card-container:nth-of-type(2) {
    margin-bottom: 25px;
  }
  .inc-courses {
    padding: 120px 0;
  }
  .inc-courses .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 642px;
  }
  .inc-courses .container h2 {
    font-size: 35px;
    line-height: 131%;
    text-align: left;
  }
  .inc-courses .container .big-cube1 {
    width: 100px;
    height: 100px;
    left: 79px;
    top: -50px;
  }
  .inc-courses .container .big-cube2 {
    width: 115px;
    height: 115px;
    right: 80px;
  }
  .description {
    padding: 70px 24px 110px 24px;
    align-items: flex-start;
  }
  .description h2 {
    width: 382px;
    font-size: 35px;
    line-height: 130%;
    margin: 0 auto 25px auto;
  }
  .description p:first-of-type {
    width: 580px;
  }
  .description p:nth-of-type(2) {
    width: 500px;
  }
  .description .bold {
    width: 550px;
  }
  .description button {
    margin: 0 auto 60px auto;
  }
  .description img {
    width: 720px;
    height: 733px;
    margin: auto;
  }
  .lesson-staff {
    padding: 100px 62px;
  }
  .lesson-staff .container {
    width: 644px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .lesson-staff .container h2 {
    font-size: 35px;
    margin-bottom: 60px;
    margin: 0 auto 60px auto;
  }
  .lesson-staff .container .card-container {
    width: 312px;
    height: 460px;
  }
  .lesson-staff .container .card-container img {
    width: 312px;
    height: 273px;
  }
  .payment {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 91px 24px 112px 24px;
  }
  .payment h2 {
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
  }
  .payment h3, .payment .styled {
    display: flex;
    width: auto;
    margin-bottom: 25px;
  }
  .payment .styled {
    margin-left: 8px;
  }
  .payment p {
    margin-bottom: 40px;
  }
  .payment h3, .payment .styled, .payment p {
    font-size: 18px;
    line-height: 200%;
  }
  .payment button {
    margin: 0 auto 60px auto;
  }
  .payment img {
    width: 720px;
    height: 466px;
    margin: 0 auto;
  }
  .valuable-skills {
    padding: 70px 24px 90px 24px;
  }
  .valuable-skills .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 720px;
    max-width: none;
  }
  .valuable-skills .container h2 {
    font-size: 35px;
    line-height: 130%;
  }
  .valuable-skills .container p:first-of-type {
    width: 660px;
    font-size: 18px;
    line-height: 180%;
    margin: 0 auto 40px auto;
  }
  .valuable-skills .container .card-container {
    width: 350px;
    height: 266px;
  }
  .valuable-skills .container .card-container p {
    width: auto;
    font-size: 15px;
    line-height: 180%;
  }
  .valuable-skills .container .card-container:nth-of-type(3), .valuable-skills .container .card-container:nth-of-type(4) {
    height: 322px;
  }
  .valuable-skills .container .card-container:nth-of-type(5), .valuable-skills .container .card-container:nth-of-type(6) {
    height: 349px;
  }
  .final {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 24px 133px 24px;
  }
  .final h2 {
    font-size: 35px;
  }
  .final p {
    width: 720px;
    font-size: 18px;
    line-height: 200%;
    margin-bottom: 26px;
  }
  .final .styled {
    width: 474px;
    margin-bottom: 69px;
  }
  .final form {
    width: 566px;
    height: 636px;
    padding: 52px 101px 63px 101px;
  }
  .final form p {
    width: 364px;
  }
}
@media (min-width: 1024px) {
  .first-screen .nav-bar {
    width: 976px;
    justify-content: flex-start;
    margin-bottom: 58px;
  }
  .first-screen .nav-bar #burger-button {
    display: none;
  }
  .first-screen .nav-bar .logo {
    margin-right: 17px;
  }
  .first-screen .nav-bar h1 {
    display: inline-block;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 156.5%;
    margin-right: auto;
  }
  .first-screen .nav-bar .central-container {
    width: auto;
    margin-right: 100px;
  }
  .first-screen .nav-bar .central-container .phone {
    margin-right: 145px;
  }
  .first-screen h2:first-of-type {
    max-width: 673px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 8px;
  }
  .first-screen h2:nth-of-type(2) {
    font-size: 39px;
    line-height: 180%;
    margin-bottom: 31px;
  }
  .first-screen .container {
    width: 765px;
    padding: 0;
    margin-bottom: 60px;
    margin-left: 15px;
  }
  .first-screen .container .subcontainer .first {
    width: 240px;
  }
  .first-screen .container .subcontainer .second {
    width: 329px;
  }
  .first-screen .container .subcontainer .third {
    width: 317px;
  }
  .first-screen .container .subcontainer .fourth {
    width: 327px;
  }
  .first-screen form {
    padding: 50px 120px;
    width: 810px;
    margin-bottom: 67px;
  }
  .first-screen form p {
    width: 450px;
    margin: 0 auto 35px auto;
  }
  .first-screen form input, .first-screen form select, .first-screen form button {
    width: 280px;
  }
  .first-screen form select {
    margin-bottom: 28px;
  }
  .first-screen form input:first-of-type {
    margin-bottom: 19px;
  }
  .first-screen form input:nth-of-type(2) {
    margin-bottom: 15px;
  }
  .first-screen form .checkbox-container {
    margin: 0 auto;
  }
  .first-screen form .checkbox-container p {
    width: 317px;
  }
  .first-screen form .player-container {
    display: flex;
    width: 0;
    height: 0;
  }
  .first-screen form .player-container .player-1 {
    position: relative;
    width: 152px;
    height: 264px;
    top: -130px;
    left: -784px;
    z-index: 10;
  }
  .first-screen form .player-container .player-2 {
    position: relative;
    width: 221px;
    height: 273px;
    top: -145px;
    right: 77px;
  }
  .minecraft {
    padding: 70px 24px 90px 24px;
  }
  .minecraft .card-container:first-of-type {
    padding: 119px 108px 113px 91px;
  }
  .minecraft .card-container {
    width: 719px;
    height: 600px;
    padding: 77px 109px 75px 91px;
  }
  .minecraft .card-container .styled {
    font-size: 30px;
    line-height: 160%;
    margin: 0;
  }
  .minecraft .card-container h3 {
    font-size: 28px;
    line-height: 160%;
    margin-bottom: 25px;
  }
  .minecraft .card-container p {
    font-size: 18px;
    line-height: 200%;
  }
  .minecraft .card-container .cube1 {
    filter: blur(0);
    width: 75px;
    height: 75px;
    top: 85px;
    right: 80px;
  }
  .minecraft .card-container .cube2 {
    filter: blur(0);
    width: 100px;
    height: 100px;
    left: 100px;
    top: 550px;
  }
  .minecraft .card-container .cube3 {
    width: 114px;
    height: 114px;
    filter: blur(0);
    transform: rotate(360deg);
    top: -50px;
  }
  .minecraft .card-container .cube4 {
    width: 89px;
    height: 89px;
    filter: blur(0);
    transform: rotate(25deg);
    left: 375px;
    top: 545px;
  }
  .minecraft .non-card-container {
    width: 720px;
    flex-direction: row-reverse;
    margin-bottom: 138px;
  }
  .minecraft .non-card-container .character {
    width: 326px;
    height: 390px;
  }
  .minecraft .non-card-container .character img {
    left: 0px;
  }
  .child-description {
    width: 635px;
    margin: 0 auto;
    padding: 72px 0 110px 0;
  }
  .child-description h2 {
    font-size: 30px;
    margin-bottom: 60px;
  }
  .child-description .card-container {
    width: 305px;
    height: 438px;
  }
  .child-description .card-container img {
    width: 305px;
    height: 317px;
  }
  .child-description .card-container p {
    font-size: 16px;
    line-height: 165%;
    margin: 31px 16px 0 16px;
  }
  .child-description .card-container:last-of-type p {
    margin: 31px 40px 0 40px;
  }
  .child-description .card-container:first-of-type, .child-description .card-container:nth-of-type(2) {
    margin-bottom: 25px;
  }
  .inc-courses {
    padding: 120px 0;
  }
  .inc-courses .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 642px;
  }
  .inc-courses .container h2 {
    font-size: 35px;
    line-height: 131%;
    text-align: left;
  }
  .inc-courses .container .big-cube1 {
    width: 100px;
    height: 100px;
    left: 79px;
    top: -50px;
  }
  .inc-courses .container .big-cube2 {
    width: 115px;
    height: 115px;
    right: 80px;
  }
  .description {
    padding: 70px 24px 110px 24px;
    align-items: flex-start;
  }
  .description h2 {
    width: 382px;
    font-size: 35px;
    line-height: 130%;
    margin: 0 auto 25px auto;
  }
  .description p:first-of-type {
    width: 580px;
  }
  .description p:nth-of-type(2) {
    width: 500px;
  }
  .description .bold {
    width: 550px;
  }
  .description button {
    margin: 0 auto 60px auto;
  }
  .description img {
    width: 720px;
    height: 733px;
    margin: auto;
  }
  .lesson-staff {
    padding: 100px 62px;
  }
  .lesson-staff .container {
    width: 644px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .lesson-staff .container h2 {
    font-size: 35px;
    margin-bottom: 60px;
    margin: 0 auto 60px auto;
  }
  .lesson-staff .container .card-container {
    width: 312px;
    height: 460px;
  }
  .lesson-staff .container .card-container img {
    width: 312px;
    height: 273px;
  }
  .payment {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 91px 24px 112px 24px;
  }
  .payment h2 {
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
  }
  .payment h3, .payment .styled {
    display: flex;
    width: auto;
    margin-bottom: 25px;
  }
  .payment .styled {
    margin-left: 8px;
  }
  .payment p {
    margin-bottom: 40px;
  }
  .payment h3, .payment .styled, .payment p {
    font-size: 18px;
    line-height: 200%;
  }
  .payment button {
    margin: 0 auto 60px auto;
  }
  .payment img {
    width: 720px;
    height: 466px;
    margin: 0 auto;
  }
  .valuable-skills {
    padding: 70px 24px 90px 24px;
  }
  .valuable-skills .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 720px;
    max-width: none;
  }
  .valuable-skills .container h2 {
    font-size: 35px;
    line-height: 130%;
  }
  .valuable-skills .container p:first-of-type {
    width: 660px;
    font-size: 18px;
    line-height: 180%;
    margin: 0 auto 40px auto;
  }
  .valuable-skills .container .card-container {
    width: 350px;
    height: 266px;
  }
  .valuable-skills .container .card-container p {
    width: auto;
    font-size: 15px;
    line-height: 180%;
  }
  .valuable-skills .container .card-container:nth-of-type(3), .valuable-skills .container .card-container:nth-of-type(4) {
    height: 322px;
  }
  .valuable-skills .container .card-container:nth-of-type(5), .valuable-skills .container .card-container:nth-of-type(6) {
    height: 349px;
  }
  .final {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 24px 133px 24px;
  }
  .final h2 {
    font-size: 35px;
  }
  .final p {
    width: 720px;
    font-size: 18px;
    line-height: 200%;
    margin-bottom: 26px;
  }
  .final .styled {
    width: 474px;
    margin-bottom: 69px;
  }
  .final form {
    width: 566px;
    height: 636px;
    padding: 52px 101px 63px 101px;
  }
  .final form p {
    width: 364px;
  }
}/*# sourceMappingURL=style.css.map */