/* Default styles annulation */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:visited {
  color: black;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Styles variables */
/* General styles */
h1, h2, h3, h4, h5, h6, p, input, button, textarea, ul, a {
  font-family: "Montserrat", sans-serif;
}

input, select {
  background: rgba(52, 12, 134, 0.1);
  border-radius: 60px;
  color: #504C58, sans-serif;
  padding: 0 30px;
}

button {
  background: linear-gradient(90.77deg, #3E5ABE -5.89%, #6840BF 100%), #8E64E6;
  box-shadow: 0px 5px 0px #4C2997;
  border-radius: 60px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}

/* Main styles */
button {
  width: 345px;
  height: 60px;
  font-size: 18px;
}

.checkbox-container {
  display: flex;
}
.checkbox-container #checkbox {
  width: 20px;
  height: 20px;
  background-image: url("/images/checkbox.svg");
  margin-right: 15px;
}
.checkbox-container .agree {
  font-size: 12px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  margin-bottom: 0;
}

.first-screen {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(24.01deg, #FFFFFF 21.38%, #EFFAFF 88.06%, #B3DBEC 133.53%);
  justify-content: center;
  padding: 20px 15px 0 15px;
}
.first-screen .nav-bar {
  display: flex;
  width: 100%;
  height: 77px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.first-screen .nav-bar #burger-button {
  margin-left: 40px;
}
.first-screen .nav-bar .burger-menu {
  display: none;
}
.first-screen .nav-bar .central-container {
  display: none;
}
.first-screen h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 131%;
  text-align: center;
  width: 90%;
  margin-bottom: 15px;
}
.first-screen h2 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 18px;
  color: #340C86;
  margin-bottom: 30px;
}
.first-screen .container {
  padding-bottom: 40px;
}
.first-screen .container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.first-screen .container div svg {
  margin-bottom: 10px;
}
.first-screen .container div p {
  font-size: 16px;
  font-weight: 600;
  line-height: 139%;
  text-align: center;
}
.first-screen .container div .first {
  width: 150px;
}
.first-screen .container div .second {
  width: 200px;
}
.first-screen .container div .third {
  width: 300px;
}
.first-screen .container div .fourth {
  width: 200px;
}
.first-screen .container div:last-of-type {
  margin-bottom: 0;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(16, 7, 36, 0.3);
  padding: 38px 15px 41px 15px;
}
.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-section form h2 {
  font-weight: 700;
  font-size: 23px;
  line-height: 135%;
  text-align: center;
  margin-bottom: 20px;
}
.form-section form p {
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  margin-bottom: 30px;
}
.form-section form input, .form-section form select {
  width: 345px;
  height: 60px;
  margin-bottom: 12px;
  font-size: 14px;
}
.form-section form select {
  margin-bottom: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("/images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 310px 50%;
}
.form-section form button {
  margin-bottom: 26px;
}

.minecraft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px 0 15px;
}
.minecraft h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 25px;
}
.minecraft .card-container {
  position: relative;
  border-radius: 20px;
  background: linear-gradient(89.5deg, rgba(2, 132, 38, 0.9) -6.15%, rgba(26, 48, 38, 0.9) 75.04%, rgba(25, 44, 38, 0.9) 130.21%), linear-gradient(85.81deg, rgba(38, 37, 53, 0.252) 36.59%, rgba(83, 71, 65, 0.3) 90.24%);
  padding: 40px 25px;
  color: white;
  margin-bottom: 38px;
}
.minecraft .card-container img {
  position: absolute;
}
.minecraft .card-container .cube1 {
  right: 29px;
  top: 22px;
}
.minecraft .card-container span {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 12px;
}
.minecraft .card-container .styled {
  font-family: "Press Start 2P", sans-serif;
}
.minecraft .card-container h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 10px;
}
.minecraft .card-container p {
  font-weight: 500;
  font-size: 15px;
  line-height: 200%;
}
.minecraft .card-container p:first-of-type {
  margin-bottom: 20px;
}
.minecraft .card-container p:last-of-type {
  display: inline;
  background: #123CAE;
  border-radius: 20px;
  padding: 4px 7px 4px 7px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.minecraft .card-container .cube2 {
  top: 90%;
  right: 7.5rem;
}
.minecraft .card-container .cube3 {
  top: 90%;
}
.minecraft .non-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 43px;
}
.minecraft .non-card-container h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  margin: 0 15px 10px 15px;
}
.minecraft .non-card-container h3 span {
  color: #123CAE;
  margin-right: 8rem;
}
.minecraft .non-card-container p {
  font-size: 15px;
  line-height: 200%;
  margin: 0 15px 30px 15px;
}
.minecraft .non-card-container .character {
  border-radius: 20px;
  background: linear-gradient(84deg, rgba(38, 37, 53, 0.9) 36.56%, rgba(83, 71, 65, 0.9) 106.76%), url("/images/background.webp");
  background-repeat: no-repeat;
}
.minecraft .non-card-container .character img {
  position: relative;
  top: 16px;
  left: 23px;
}

.child-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 35px 79px 35px;
}
.child-description h2 {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
}
.child-description .card-container {
  width: 305px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 165%;
  color: white;
  text-align: center;
}
.child-description .card-container p {
  padding: 31px 16px 38px 16px;
}
.child-description .first {
  background: #6243BA;
}
.child-description .second {
  background: #C7910F;
}
.child-description .third {
  background: #A8771F;
}
.child-description .fourth {
  background: #346EC8;
}
.child-description .first, .child-description .second, .child-description .third {
  margin-bottom: 20px;
}

.inc-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), url(/images/background1.webp);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  position: relative;
  padding: 90px 31.5px;
}
.inc-courses img {
  position: absolute;
}
.inc-courses .big-cube1 {
  top: -65px;
  left: 5%;
}
.inc-courses h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: white;
  margin-bottom: 46px;
}
.inc-courses .card-container {
  width: 312px;
  height: 260px;
  background: white;
  box-shadow: -10px 10px 70px #263631;
  border-radius: 20px;
  padding: 36px 34px 28px 34px;
  margin-bottom: 20px;
  z-index: 5;
}
.inc-courses .card-container svg {
  margin-bottom: 15px;
}
.inc-courses .card-container p {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
}
.inc-courses .big-cube2 {
  right: 5%;
  bottom: -50px;
}
.inc-courses .background-image {
  position: absolute;
  width: 100%;
  height: 225px;
  bottom: 0;
  background: linear-gradient(-93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), url(/images/background2.webp);
  background-blend-mode: multiply;
  z-index: 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 15px 60px 15px;
}
.description h2 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
.description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  margin-bottom: 20px;
}
.description p span {
  font-weight: 600;
}
.description .bold {
  font-weight: 600;
  margin-bottom: 30px;
}
.description button {
  margin-bottom: 40px;
}

.lesson-staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 17.5px 70px 17.5px;
  background: linear-gradient(93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), #D9D9D9;
}
.lesson-staff h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.lesson-staff .card-container {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 502px;
  border-radius: 20px;
  background: white;
  box-shadow: -10px 30px 70px #263631;
  margin-bottom: 20px;
}
.lesson-staff .card-container img {
  border-radius: 20px 20px 0 0;
}
.lesson-staff .card-container .content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.lesson-staff .card-container .content h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin: 35px 0 10px 0;
}
.lesson-staff .card-container .content .big {
  margin-top: 25px;
}
.lesson-staff .card-container .content ul {
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
}
.lesson-staff .card-container .content p {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  margin: 13px 18.5px 0 18.5px;
  color: #6044BE;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px 60px 15px;
}
.payment h2 {
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 10px;
}
.payment h3 {
  width: 100%;
  font-weight: 600;
}
.payment .styled {
  color: rgb(69, 119, 252);
  margin-bottom: 20px;
}
.payment p, .payment h3 {
  font-size: 15px;
  line-height: 200%;
}
.payment p {
  margin-bottom: 30px;
}
.payment button {
  margin-bottom: 40px;
}

.valuable-skills {
  padding: 50px 15px 150px 15px;
  background: linear-gradient(24.01deg, #FFFFFF 21.38%, #EFFAFF 88.06%, #B3DBEC 133.53%);
}
.valuable-skills h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}
.valuable-skills h2 span {
  color: #4577FC;
}
.valuable-skills p {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 30px;
  text-align: center;
}
.valuable-skills .card-container {
  background: #FFFFFF;
  box-shadow: -10px 30px 70px #E1EAEE;
  border-radius: 20px;
  padding: 35px 25px 40px 30px;
  margin-bottom: 15px;
}
.valuable-skills .card-container img {
  margin-bottom: 15px;
}
.valuable-skills .card-container h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}
.valuable-skills .card-container p {
  font-size: 15px;
  line-height: 180%;
  text-align: left;
}

.final {
  background: linear-gradient(-90.84deg, rgba(2, 132, 38, 0.9) -5.82%, rgba(26, 48, 38, 0.9) 61.56%, rgba(25, 44, 38, 0.9) 107.34%), url(/images/background3.webp);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding: 60px 15px 70px 15px;
  color: white;
  text-align: center;
  position: relative;
}
.final h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 26px;
}
.final p {
  font-weight: 500;
  font-size: 15px;
  line-height: 200%;
  margin-bottom: 30px;
}
.final p:nth-of-type(2) {
  margin-bottom: 20px;
}
.final .styled {
  display: inline;
  background: #123CAE;
  border-radius: 20px;
  padding: 4px 7px 4px 7px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.final form {
  position: relative;
  background: #FAFAFA;
  border: 2px solid #643CBC;
  box-shadow: 0px 4px 4px rgba(16, 7, 36, 0.3);
  border-radius: 20px;
  padding: 50px 13px 40px 13px;
  color: black;
  margin-top: 51px;
  z-index: 5;
}
.final form h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  margin-bottom: 15px;
}
.final form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  margin-bottom: 30px;
}
.final form input {
  width: 319px;
  height: 60px;
  margin-bottom: 12px;
}
.final form select {
  width: 319px;
  height: 60px;
  margin-bottom: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("/images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 285px 55%;
}
.final form button {
  width: 319px;
  margin-bottom: 32px;
  background: linear-gradient(90.77deg, #3E5ABE -5.89%, #6840BF 100%), #8E64E6;
  box-shadow: 0px 5px 0px #4C2997;
}
.final form p {
  margin-bottom: 0;
}
.final form #checkbox {
  box-sizing: content-box;
}
.final form .agree {
  width: 275px;
}
.final .background-image {
  position: absolute;
  width: 100%;
  height: 225px;
  left: 0;
  bottom: 0;
  background: linear-gradient(-93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), url(/images/background4.webp);
  background-blend-mode: multiply;
  z-index: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 43px 0;
}
footer p, footer a {
  font-weight: 500;
  font-size: 15px;
}
footer a {
  margin: 23px 0 23px 0;
}
footer div {
  display: flex;
}
footer div svg {
  margin-right: 10px;
}
footer div p, footer div a {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */