/* Default styles annulation */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active{outline: none;}
a, a:visited {color: black;}

nav,footer,header,aside{display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
ul, li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

/* Styles variables */
$main-font: 'Montserrat';
$minecraft-font: 'Press Start 2P';
$second-font: 'Mulish';
$text-color: #340C86;
$second-text-color: #123CAE;;
$placeholder-color: #504C58;
$background-gradient: linear-gradient(24.01deg, #FFFFFF 21.38%, #EFFAFF 88.06%, #B3DBEC 133.53%);
$background-color: #FAFAFA;
$background-shadow: 0px 4px 4px rgba(16, 7, 36, 0.3);
$card-background: linear-gradient(89.5deg, rgba(2, 132, 38, 0.9) -6.15%, rgba(26, 48, 38, 0.9) 75.04%, rgba(25, 44, 38, 0.9) 130.21%), linear-gradient(85.81deg, rgba(38, 37, 53, 0.252) 36.59%, rgba(83, 71, 65, 0.3) 90.24%);
$section-background: linear-gradient(93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), #D9D9D9;
/* General styles */
h1, h2, h3, h4, h5, h6, p, input, button, textarea, ul, a {font-family: $main-font, sans-serif;}
input, select {background: rgba(52, 12, 134, 0.1); border-radius: 60px; color: $placeholder-color, sans-serif; padding: 0 30px;};
button {background: linear-gradient(90.77deg, #3E5ABE -5.89%, #6840BF 100%), #8E64E6; box-shadow: 0px 5px 0px #4C2997; border-radius: 60px; color: white; font-family: $second-font, sans-serif; font-weight: 800;}

/* Main styles */
button {
    width: 345px;
    height: 60px;
    font-size: 18px;
}

.checkbox-container {
    display: flex;

    #checkbox {
        width: 20px;
        height: 20px;
        background-image: url('/images/checkbox.svg');
        margin-right: 15px;
    }

    .agree {
        font-size: 12px;
        font-weight: 500;
        line-height: 135%;
        text-align: left;
        margin-bottom: 0;
    }
} 


// Mobile M 375px

.first-screen {
    display: flex;
    flex-wrap: wrap;
    background: $background-gradient;
    justify-content: center;
    padding: 20px 15px 0 15px;

    .nav-bar {
        display: flex;
        width: 100%;
        height: 77px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    
        #burger-button {
            margin-left: 40px;
        }
    
        .burger-menu {
            display: none;
        }
    
        .central-container {
            display: none;
        }
    }

    h1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 131%;
        text-align: center;
        width: 90%;
        margin-bottom: 15px;
    }

    h2 {
        font-family: $minecraft-font, sans-serif;
        font-size: 18px;
        color: $text-color;
        margin-bottom: 30px;
    }

    .container {
        padding-bottom: 40px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 24px;

            svg {
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
                font-weight: 600;
                line-height: 139%;
                text-align: center;
            }
    
            .first {
                width: 150px;
            }
    
            .second {
                width: 200px;
            }
    
            .third {
                width: 300px;
            }

            .fourth {
                width: 200px;
            }
        }

        div:last-of-type {
            margin-bottom: 0;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 38px 15px 41px 15px;
        background: $background-color;
        box-shadow: $background-shadow;

        .form-title {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 23px;
            line-height: 135%;
            text-align: center;
            margin-bottom: 20px;
            color: #101218;
        }

        p {
            font-size: 16px;
            line-height: 135%;
            text-align: center;
            margin-bottom: 30px;
        }

        input, select {
            width: 345px;
            height: 60px;
            margin-bottom: 12px;
            font-size: 14px;
        }

        select {
            margin-bottom: 20px;
            appearance: none;
            background-image: url('/images/select-arrow.svg');
            background-repeat: no-repeat;
            background-position: 310px 50%;
        }

        button {
            margin-bottom: 26px;
        }
    }
}

.minecraft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px 0 15px;

    h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        text-align: center;
        margin-bottom: 25px;
    }

    .card-container {
        position: relative;
        border-radius: 20px;
        background: $card-background;
        padding: 40px 25px;
        color: white;
        margin-bottom: 38px;

        img {
            position: absolute;
        }

        .cube1 {
            width: 65px;
            height: 65px;
            right: 29px;
            top: 22px;
            filter: blur(2px);
            transform: rotate(25deg);
        }

        span {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 12px;
        }

        .styled {
            font-family: 'Press Start 2P', sans-serif;
        }

        h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 160%;
            margin-bottom: 10px;
        }

        p {
            font-weight: 500;
            font-size: 15px;
            line-height: 200%;
        }    

        p:first-of-type {
            margin-bottom: 20px;
        }

        p:last-of-type {
            display: inline;
            background: $second-text-color;
            border-radius: 20px;
            padding: 4px 7px 4px 7px;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
        }

        .cube2 {
            width: 80px;
            height: 80px;
            top: 92%;
            right: 7.5rem;
            filter: blur(2px);
        }

        .cube3 {
            display: none;
        }

        .cube4 {
            width: 80px;
            height: 80px;
            filter: blur(2px);
            right: 9%;
            top: 91%;
        }
    }

    .card-container:last-of-type {
        margin-bottom: 0;
    }

    .non-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 43px;

        h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 160%;
            margin: 0 15px 10px 15px;
    
            span {
                color: $second-text-color;
                margin-right: 8rem;
            }
        }

        p {
            font-size: 15px;
            line-height: 200%;
            margin: 0 15px 30px 15px;
        }

        .character {
            width: 345px;
            height: 356px;
            border-radius: 20px;
            background: linear-gradient(84deg, rgba(38, 37, 53, 0.9) 36.56%, rgba(83, 71, 65, 0.9) 106.76%), url('/images/background.webp');
            background-repeat: no-repeat;

            img {
                width: 306px;
                height: 353px;
                position: relative;
                top: 16px;
                left: 23px;
            }
        }
    }  
}

.child-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 58px 35px 79px 35px;


    h2 {
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        margin-bottom: 25px;
    }

    .card-container {
        width: 305px;
        border-radius: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 165%;
        color: white;
        text-align: center;

        img {
            width: 305px;
            height: 317px;
        }

        p { 
            padding: 31px 16px 38px 16px;
        }
    }

    .first {
        background: #6243BA;
    }

    .second {
        background: #C7910F;
    }

    .third {
        background: #A8771F
    }

    .fourth {
        background: #346EC8;
    }

    .first, .second, .third {
        margin-bottom: 20px;
    }
}

.inc-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), url('/images/background1.webp');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    position: relative;
    padding: 90px 31.5px;

    img {
        position: absolute;
    }

    .big-cube1 {
        top: -65px;
        left: 5%;
    }

    h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        text-align: center;
        color: white;
        margin-bottom: 46px;
    }

    .card-container {
        width: 312px;
        height: 260px;
        background: white;
        box-shadow: -10px 10px 70px #263631;
        border-radius: 20px;
        padding: 36px 34px 28px 34px;
        margin-bottom: 20px;
        z-index: 5;

        svg {
            margin-bottom: 15px;
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 180%;
        }
    }

    .big-cube2 {
        right: 5%;
        bottom: -60px;
        width: 120px;
        height: 120px;
        transform: rotate(30deg);
    }

    .background-image {
        position: absolute;
        width: 100%;
        height: 225px;
        bottom: 0;
        background: linear-gradient(-93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), url('/images/background2.webp');
        background-blend-mode: multiply;
        z-index: 0;
    }

}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 15px 60px 15px;

    h2 {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 10px;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 200%;
        margin-bottom: 20px;

        span {
            font-weight: 600;
        }
    }

    .bold {
        font-weight: 600;
        margin-bottom: 30px;
    }

    button {
        margin-bottom: 40px;
    }

    img {
        width: 345px;
        height: 351px;
    }
}

.lesson-staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 17.5px 70px 17.5px;
    background: $section-background;

    h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        color: white;
        text-align: center;
        margin-bottom: 30px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        width: 340px;
        height: 502px;
        border-radius: 20px;
        background: white;
        box-shadow: -10px 30px 70px #263631;
        margin-bottom: 20px;

        img {
            border-radius: 20px 20px 0 0;
        }

        .content {
            display: flex;
            flex-direction: column;
            text-align: center;

            h4 {
                font-weight: 700;
                font-size: 20px;
                line-height: 140%; 
                margin: 35px 0 10px 0;
            }

            .big {
                margin-top: 25px;
            }

            ul {
                font-weight: 500;
                font-size: 15px;
                line-height: 180%;
            }

            p {
                font-style: italic;
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                margin: 13px 18.5px 0 18.5px;
                color: #6044BE;
            }
        }

    }
}

.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px 60px 15px;
    
    h2 {
        width: 100%;
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        margin-bottom: 10px;
    }

    h3 {
        width: 100%;
        font-weight: 600;
    }

    .styled {
        color: rgba(69, 119, 252, 1);
        margin-bottom: 20px;
    }

    p, h3 {
        font-size: 15px;
        line-height: 200%;
    }

    p {
        margin-bottom: 30px;
    }

    button {
        margin-bottom: 40px;
    }

    img {
        width: 345px;
        height: 348.83px;
    }
}

.valuable-skills {
    padding: 50px 15px 150px 15px;
    background: linear-gradient(24.01deg, #FFFFFF 21.38%, #EFFAFF 88.06%, #B3DBEC 133.53%);

    h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        text-align: center;
        margin-bottom: 20px;

        span {
            color: #4577FC;
        }
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        margin-bottom: 30px;
        text-align: center;
    }

    .card-container {
        background: #FFFFFF;
        box-shadow: -10px 30px 70px #E1EAEE;
        border-radius: 20px;
        padding: 35px 25px 40px 30px;
        margin-bottom: 15px;

        img {
            margin-bottom: 15px;
        }

        h3 {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 15px;
        }

        p {
            font-size: 15px;
            line-height: 180%;
            text-align: left;
        }
    }
}

.final {
    background: linear-gradient(-90.84deg, rgba(2, 132, 38, 0.9) -5.82%, rgba(26, 48, 38, 0.9) 61.56%, rgba(25, 44, 38, 0.9) 107.34%), url('/images/background3.webp');
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 60px 15px 70px 15px;
    color: white;
    text-align: center;
    position: relative;

    h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        margin-bottom: 26px;
    }

    p {
        font-weight: 500;
        font-size: 15px;
        line-height: 200%;
        margin-bottom: 30px;
    }

    p:nth-of-type(2) {
        margin-bottom: 20px;
    }

    .styled {
        display: inline;
        background: $second-text-color;
        border-radius: 20px;
        padding: 4px 7px 4px 7px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }

    form {
        position: relative;
        background: #FAFAFA;
        border: 2px solid #643CBC;
        box-shadow: 0px 4px 4px rgba(16, 7, 36, 0.3);
        border-radius: 20px;
        padding: 50px 13px 40px 13px;
        color: black;
        margin-top: 51px;
        z-index: 5;

        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 135%;
            margin-bottom: 15px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 135%;
            margin-bottom: 30px;
        }

        input {
            width: 319px;
            height: 60px;
            margin-bottom: 12px;
        }

        select {
            width: 319px;
            height: 60px;
            margin-bottom: 20px;
            appearance: none;
            background-image: url('/images/select-arrow.svg');
            background-repeat: no-repeat;
            background-position: 285px 55%;
        }

        button {
            width: 319px;
            margin-bottom: 32px;
            background: linear-gradient(90.77deg, #3E5ABE -5.89%, #6840BF 100%), #8E64E6;
            box-shadow: 0px 5px 0px #4C2997;
        }

        #checkbox {
            box-sizing: content-box;
        }

        .agree {
            width: 275px;
        }
    }

    .background-image {
        position: absolute;
        width: 100%;
        height: 225px;
        left: 0;
        bottom: 0;
        background: linear-gradient(-93.39deg, rgba(2, 132, 38, 0.9) -17.42%, rgba(26, 48, 38, 0.9) 56.79%, rgba(25, 44, 38, 0.9) 107.21%), url('/images/background4.webp');
        background-blend-mode: multiply;
        z-index: 0;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 43px 0;

    p, a {
        font-weight: 500;
        font-size: 15px;
    }

    a {
        margin: 23px 0 23px 0;
    }

    div {
        display: flex;
        svg {
            margin-right: 10px;
        }
        p, a {
            font-size: 14px;
        }
    }
}

// Mobile L 480px

@media all and (min-width: 480px) {
    .first-screen {
        position: relative;
        justify-content: flex-start;

        .nav-bar {
            z-index: 5;
        }

        h1 {
            font-size: 30px;
            text-align: left;
            z-index: 5;
        }

        h2 {
            font-size: 20;
            z-index: 5;
            margin-bottom: 35px;
        }

        .container {
            z-index: 5;
            
            .subcontainer {
                flex-direction: row;
                margin-bottom: 20px;

                p {
                    width: auto;
                }

                svg {
                    margin: 0 21px 0 0;
                }
            }
        }

        form {
            box-shadow: none;
            border: 2px solid #643CBC;
            border-radius: 20px;
            padding: 52px 43px 63px 43px;
            margin-bottom: 40px;
            z-index: 5;
        }

        .background-image {
            width: 480px;
            height: 100%;
            position: absolute;
            background: url('/images/first-screen-background.webp');
            left: 0;
            bottom: 0;
            z-index: 1;
            background-repeat: no-repeat;
        }

        .background-gradient {
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(24.01deg, #FFFFFF 21.38%, #EFFAFF 88.06%, #B3DBEC 133.53%);
            left: 0;
            bottom: 0;
            z-index: 0;
        }
    }

.minecraft {
    padding: 70px 15px 0 15px;


    h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .card-container {
        padding: 50px 40px 60px 40px;
        margin-bottom: 78px;

        .cube1 {
            top: 3%;
            right: 4%;
        }

        .styled {
            display: flex;
            margin-bottom: 12px;
        }

        h3 {
            margin-bottom: 30px;
        }

        .cube2 {
            bottom: 0;
            left: 25%;
        }
        
        .cube3 {
            display: flex;
            position: absolute;
            width: 100px;
            height: 100px;
            top: -9%;
            right: 5%;
            transform: rotate(30deg);
        }

        .cube4 {
            left: 23%;
        }
    }

    .non-card-container {
        margin-bottom: 74px;

        h3, p {
            margin: 0 45px 30px 45px;
        }

        .character {
            width: 378px;
            height: 390px;
            background: url('/images/background480.webp');

            img {
                width: 335px;
                height: 387px;
            }
        }

    }
}

.child-description {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    padding: 72px 15px 129px 15px;

    h2 {
        font-size: 24px;
        margin: 0 auto 25px auto;
    }

    .card-container {
        width: 218px;
        height: 347px;
        margin-bottom: 15px;

        img {
            width: 218px;
            height: 238px;
        }

        p {
            font-size: 14px;
            line-height: 165%;
            padding: 0;
            margin: 20px auto 0 auto;
        }
    }

    .card-container:nth-child(4), .card-container:nth-child(5) {
        margin-bottom: 0;
    }
}


.inc-courses {
    h2 {
        font-size: 24px;
        max-width: 320px;
    }
}

.description {
    padding: 73px 15px 80px 15px;

    h2 {
        font-size: 24px;
    }

    button {
        margin-bottom: 50px;
    }

    img {
        width: 450px;
        height: 458px;
    }
}
 
.lesson-staff {
    padding: 90px 51px 90px 51px;

    h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
}

.payment {
    padding: 50px 15px 60px 15px;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    img {
        display: flex;
        width: 450px;
        height: 455px;
    }
}

.valuable-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px 60px 15px;

    h2 {
        font-size: 24px;
    }

    p {
        margin-bottom: 48px;
    }

    .card-container {
        width: 350px;
        height: 349px;
    }
}

.final {
    padding: 60px 15px 100px 15px;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    form {
        padding: 52px 48px 63px 48px;

        h3 {
            font-size: 23px;
            margin-bottom: 20px;
        }

        .checkbox-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .agree {
                width: auto;
            }
        }
    }
}
}

//Tablet 768px