/* Default styles annulation */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: Montserrat;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
ul, li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

/* Styles variables */
$main-font: 'Montserrat';
$minecraft-font: 'Press Start 2P';
$second-font: 'Mulish';
$text-color: #340C86;
$second-text-color: #123CAE;;
$placeholder-color: #504C58;
$background-gradient: linear-gradient(24.01deg, #FFFFFF 21.38%, #EFFAFF 88.06%, #B3DBEC 133.53%);
$background-color: #FAFAFA;
$background-shadow: 0px 4px 4px rgba(16, 7, 36, 0.3);
$card-background: linear-gradient(89.5deg, rgba(2, 132, 38, 0.9) -6.15%, rgba(26, 48, 38, 0.9) 75.04%, rgba(25, 44, 38, 0.9) 130.21%), linear-gradient(85.81deg, rgba(38, 37, 53, 0.252) 36.59%, rgba(83, 71, 65, 0.3) 90.24%);

/* General styles */
h1, h2, h3, h4, h5, h6, p {font-family: $main-font;}
input, select {background: rgba(52, 12, 134, 0.1); border-radius: 60px; color: $placeholder-color; padding: 0 30px;};
button {background: linear-gradient(90.77deg, #3E5ABE -5.89%, #6840BF 100%), #8E64E6; box-shadow: 0px 5px 0px #4C2997; border-radius: 60px; color: white; font-family: $second-font; font-weight: 800;}

/* Main styles */
body {

}

.first-screen {
    display: flex;
    flex-wrap: wrap;
    background: $background-gradient;
    justify-content: center;
    padding: 20px 15px 0 15px;

    .nav-bar {
        display: flex;
        width: 100%;
        height: 77px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    
        #burger-button {
            margin-left: 40px;
        }
    
        .burger-menu {
            display: none;
        }
    
        .central-container {
            display: none;
        }
    }

    h1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 131%;
        text-align: center;
        width: 90%;
        margin-bottom: 15px;
    }

    h2 {
        font-family: $minecraft-font;
        font-size: 18px;
        color: $text-color;
        margin-bottom: 30px;
    }

    .container {
        padding-bottom: 40px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 24px;

            svg {
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
                font-weight: 600;
                line-height: 139%;
                text-align: center;
            }
    
            .first {
                width: 150px;
            }
    
            .second {
                width: 200px;
            }
    
            .third {
                width: 300px;
            }

            .fourth {
                width: 200px;
            }
        }

        div:last-of-type {
            margin-bottom: 0;
        }
    }
}

.form-section {
    background: $background-color;
    box-shadow: $background-shadow;
    padding: 38px 15px 0 15px;

    form {

        h2 {
            font-weight: 700;
            font-size: 23px;
            line-height: 135%;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 135%;
            text-align: center;
            margin-bottom: 30px;
        }

        input, select {
            width: 345px;
            height: 60px;
            margin-bottom: 12px;
            font-size: 14px;
        }

        select {
            margin-bottom: 20px;
            appearance: none;
            background-image: url('/images/select-arrow.svg');
            background-repeat: no-repeat;
            background-position: 310px 50%;
        }

        button {
            width: 345px;
            height: 60px;
            font-size: 18px;
            margin-bottom: 26px;
        }

        .checkbox-container {
            display: flex;

            #checkbox {
                width: 20px;
                height: 20px;
                background-image: url('/images/checkbox.svg');
                margin-right: 15px;
            }

            p {
                font-size: 12px;
                font-weight: 500;
                line-height: 135%;
                text-align: left;
            }
        } 
    }
}

.minecraft {
    padding: 50px 15px 58px 15px;

    h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        text-align: center;
        margin-bottom: 25px;
    }

    .card-container {
        position: relative;
        border-radius: 20px;
        background: $card-background;
        padding: 40px 25px;
        color: white;
        margin-bottom: 38px;

        img {
            position: absolute;
        }

        .cube1 {
            right: 29px;
            top: 22px;
        }

        span {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 12px;
        }

        .styled {
            font-family: 'Press Start 2P', sans-serif;
        }

        h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 160%;
            margin-bottom: 10px;
        }

        p {
            font-weight: 500;
            font-size: 15px;
            line-height: 200%;
        }    

        p:first-of-type {
            margin-bottom: 20px;
        }

        p:last-of-type {
            display: inline;
            background: $second-text-color;
            border-radius: 20px;
            padding: 4px 7px 4px 7px;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
        }

        .cube2 {
            top: 90%;
            right: 7.5rem;
        }

        .cube3 {
            top: 90%;
        }
    }

    .non-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 43px;

        h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 160%;
            margin: 0 15px 10px 15px;
    
            span {
                color: $second-text-color;
                margin-right: 8rem;
            }
        }

        p {
            font-size: 15px;
            line-height: 200%;
            margin: 0 15px 30px 15px;
        }

        .character {
            width: 100%;
            background-image: url('/images/background.svg');
            background-repeat: no-repeat;

            img {
                position: relative;
                top: 16px;
                left: 23px;
            }
        }
    }  
}

.child-description {
    padding: 0 35px 0 35px;


    h2 {
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        margin-bottom: 25px;
    }

    .card-container {
        border-radius: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 165%;
        color: white;
        text-align: center;

        p { 
            margin: 31px 16px 38px 16px;
        }
    }

    .first {
        background: #6243BA;
    }

    .second {
        background: #C7910F;
    }

    .third {
        background: #A8771F
    }

    .fourth {
        background: #346EC8;
    }
}